@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  background-color: none;
}
body {
  height: 100%;
  margin: 0;
}

#thumbnail-container {
  height: 100px;
  width: 100px;
  padding: 10px;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-around;
}
#main-image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#left-click {
  position: relative;
}
#right-clikc {
  position: relative;
}
